# Docker Compose environment for docker-compose.yaml.

PIPELINE_CODE_HOST_DIR=./demo-code
FED_SYSML_CODE_HOST_DIR=./demo-code

DTP_PATH_MAP=C:/Users/marco/Git-projects/anyFile/digital-twin-manager/lambda_functions/event_actions/stopCharging=/pipeline/code/microgrid/stopCharging

SIMULATOR_MOCK_AWS=true

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-west-1
AWS_DEFAULT_REGION=eu-west-1
