*

!.gitignore
!README.md
!docker-compose.yaml
!orchestrate_pipeline.py

!scripts/
!scripts/**

!enterprise-architect/
!enterprise-architect/models/
!enterprise-architect/models/**

!demo-code/
!demo-code/**

**/__pycache__/
